<div class="ctn-menu-bg menu-coffee menu-edit" ng-style="{ transformOrigin: 'top', transform: 'scale('+ $ctrl.zoom +')', paddingBottom: ($ctrl.zoom * 100) + 'px' }">
  <div class="ctn-menu-outer">
    <div class="ctn-menu-inner">
      <div class="ctn-menu-page"
         ng-repeat="currPage in $ctrl.menu.pages track by $index"
         ng-class="{'active': $ctrl.menu.activePage === $index}"
        >
        <div class="ctn-menu">
          <input class="title-gr" ng-model="currPage.titles[0].v"/>
          <div class="row input-gr"
            ng-repeat="gr in currPage.fields.slice(0, 8) track by $index"
            >
            <div class="col text-right pr-0">
              <input class="name" type="text"
                focus-on="{ page: $parent.$index, field: $index }"
                ng-model="gr.name.v" placeholder="{{gr.name.p}}" />
            </div>
            <div class="col text-left d-flex">
              &euro;&nbsp;<input class="price" type="text" ng-model="gr.price.v" placeholder="{{gr.price.p}}"/>
            </div>
          </div>
          <div class="offers">
            <input class="title-gr" ng-model="currPage.titles[1].v"/>
            <div class="row input-gr"
              ng-repeat="gr in currPage.fields.slice(8, currPage.length) track by $index"
              >
              <div class="col-9">
                <div class="veg-ind veg1" ng-show="gr.vegType === 'veg1'">
                  <img src="assets/plant 1.png" alt=""/>
                </div>
                <div class="veg-ind veg2" ng-show="gr.vegType === 'veg2'">
                  <img src="assets/herb 1.png" alt=""/>
                </div>
                <textarea class="name" type="text"
                  focus-on="{ page: $parent.$index, field: $index + 8 }"
                  ng-model="gr.name.v" placeholder="{{gr.name.p}}"
                  ></textarea>
              </div>
              <div class="col-3 text-left d-flex align-items-start">
                &euro;&nbsp;<input class="price" type="text" ng-model="gr.price.v" placeholder="{{gr.price.p}}"/>
              </div>
            </div>
          </div>
          <div class="vegan">
            <div><img src="assets/plant 1.png" alt="" />Vegan</div>
            <div><img src="assets/herb 1.png" alt="" />Vegetarian</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ctn-btn">
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a href
               class="page-link"
               ng-click="$ctrl.pageFn({ type: 'prev' })">
              &laquo;
            </a>
          </li>

          <li
            class="page-item"
            ng-repeat="page in $ctrl.menu.pages track by $index"
            ng-class="{'active': $ctrl.menu.activePage === $index}"
          >
            <a href
               class="page-link"
               ng-click="$ctrl.pageFn({ type: 'number', page: $index })">
              {{ $index + 1 }}
            </a>
          </li>

          <li class="page-item">
            <a href
               class="page-link"
               ng-click="$ctrl.pageFn({ type: 'next' })">
              &raquo;
            </a>
          </li>
        </ul>
      </nav>
      <button
        class="btn btn-pr btn-qr-main no-mobile"
        ng-click="$ctrl.save(true)"
        data-toggle="modal" data-target="#buyModal"
        >
        <img src="assets/s2.png" alt="">
        <div>QR Code<br/>herunterladen</div>
      </button>
    </div>
  </div>
</div>
<div class="ctn-menu-bg menu-coffee menu-download">
  <div class="ctn-menu-outer">
    <div class="ctn-menu-inner" ng-repeat="currPage in $ctrl.menu.pages track by $index">
      <div class="ctn-menu-page">
        <div class="ctn-menu">
          <div class="title-gr">{{ currPage.titles[0].v }}</div>
          <div class="row input-gr"
            ng-repeat="gr in currPage.fields.slice(0, 7) track by $index"
            ng-hide="gr.name.v === ''"
            >
            <div class="col text-right pr-0">
              <div class="name">{{gr.name.v}}</div>
            </div>
            <div class="col text-left d-flex">
              <div class="price">&euro;&nbsp;{{gr.price.v}}</div>
            </div>
          </div>
          <div class="offers">
            <div class="title-gr">{{ currPage.titles[1].v }}</div>
            <div
              class="row input-gr"
              ng-repeat="gr in currPage.fields.slice(8, currPage.length) track by $index"
              ng-hide="gr.name.v === ''"
              >
              <div class="col-9 text-left">
                <div class="veg-ind veg1" ng-show="gr.vegType === 'veg1'">
                  <img src="assets/plant 1.png" alt=""/>
                </div>
                <div class="veg-ind veg2" ng-show="gr.vegType === 'veg2'">
                  <img src="assets/herb 1.png" alt=""/>
                </div>
                <div class="name">{{gr.name.v}}</div>
              </div>
              <div class="col-3 text-left d-flex align-items-start">
                <div class="price">&euro;&nbsp;{{gr.price.v}}</div>
              </div>
            </div>
          </div>
          <div class="vegan">
            <div><img src="assets/plant 1.png" alt="" />Vegan</div>
            <div><img src="assets/herb 1.png" alt="" />Vegetarian</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<pre class="deb-obj">
  {{ $ctrl.showLoader | json }}
  {{ $ctrl.menu | json }}
</pre>
