<h></h>
<main class="ctn-home">
  <section class="section0">
    <div class="container">
      <div class="inner">
        <div class="s-item box ctn-new" ng-click="homeCtrl.new(homeCtrl.menus[0])">
          <img src="/assets/new-icon.png" alt=""/>
          <div>Neu</div>
        </div>
        <div class="s-item box ctn-menu-opts">
          <div class="menu-opt"
            ng-repeat="p in homeCtrl.menus track by $index"
            ng-click="homeCtrl.new(p)"
            ng-class="{'active': $index === homeCtrl.idx}
            ">
            <img ng-src="{{ p.img }}" alt=""/>
            <div>{{ p.title }}</div>
          </div>
          <div class="arr arr-lt">
            <img src="/assets/arr-l.png" alt="">
          </div>
          <div class="arr arr-rt">
            <img src="/assets/arr-r.png" alt="">
          </div>
        </div>
        <div class="s-item ctn-switch">
          Tag Modus
          <div class="btn-switch"
            ng-class="{'btn-switch--on':homeCtrl.toggle.switch}"
            ng-model="homeCtrl.toggle.switch"
            ng-click="homeCtrl.toggle.switch = !homeCtrl.toggle.switch">
            <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':homeCtrl.toggle.switch}"></div>
          </div>
          Nacht Modus
        </div>
        <div class="s-item ctn-copy-link">
          <div class="inner link" ng-click="save(true)" data-clipboard-text="{{ shareLink }}" title="{{ shareLink }}">
            <i class="fa fa-link"></i>
            <div class="text">"{ shareLink }"</div>
          </div>
          <div class="desc">Dein Link<br/>(Klicken Sie, um zu kopieren)</div>
        </div>
        <div class="s-item">
          <button class="btn btn-pr" ng-click="qr()">Vorschau QR Menu</button>
        </div>
      </div>
    </div>
  </section>

  <section class="section1" ng-class="{ 'dark': homeCtrl.toggle.switch }">
    <coffee ng-if="homeCtrl.menu.title === 'Allge.'" curr-menu="homeCtrl.menu" page-fn="homeCtrl.pageFn"></coffee>
    <japanese ng-if="homeCtrl.menu.title === 'Sushi'" curr-menu="homeCtrl.menu"></japanese>
    <pizza ng-if="homeCtrl.menu.title === 'Pizza'" curr-menu="homeCtrl.menu" page-fn="homeCtrl.pageFn"></pizza>

    <div class="ctn-float-box">
      <div class="inner">
        <!--<div class="bar" ng-style="{'width': filledFields * 100 / totalFields + '%'}"></div>-->
        <div class="b-item perc">
          <div>{{ (homeCtrl.filledFields * 100 / homeCtrl.totalFields).toFixed(0)}}<sup>%</sup></div>
          <span>geschafft</span>
        </div>
        <div class="b-item no-fields">
          <div class="num">
            <img ng-click="focus('prev')" src="/assets/arr-l.png" class="inv"/>
            <div>{{homeCtrl.filledFields}} / {{homeCtrl.totalFields}}</div>
            <img ng-click="focus('next')" src="/assets/arr-r.png" class="inv"/>
          </div>
          <span>Pflichtfelder<br/>befüllt</span>
        </div>
        <div class="b-item outlined hov" ng-click="homeCtrl.addMenuPage()">Seite Hinzufügen</div>
        <div class="b-item outlined zoom">
          <span>{{(homeCtrl.zoom * 100).toFixed(0)}}%</span>
          <div class="btn-group">
            <button type="button" ng-click="homeCtrl.zoomFn('-')" class="btn btn-sm btn-light">-</button>
            <button type="button" ng-click="homeCtrl.zoomFn('+')" class="btn btn-sm btn-light">+</button>
          </div>
        </div>
        <div class="b-item veg">
          <div><img src="/assets/plant 1.png" alt="" />Vegan</div>
          <div><img src="/assets/herb 1.png" alt="" />Vegetarian</div>
        </div>
        <div class="b-item qr-btn">
          <button ng-click="save()" class="btn btn-light btn-block">
            <img src="/assets/qr-dark.png" alt="">
            <div>QR Code<br/>erstellen</div>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="section2">
    <div class="container">
      <div class="pre-title">Procedure</div>
      <div class="title">Three Simple Steps</div>
      <div class="points">
        <div class="ctn-point">
          <div class="desktop-only">
            <img src="/assets/s1.png" alt=""/>
            <h4>1. Online ausfüllen</h4>
            <p>
              In a few clicks you can fill out the questionnaire on our site.
            </p>
          </div>
          <div class="mobile-only row">
            <div class="col-2 num dashed">1</div>
            <div class="col-10 text-left">
              <h4>Finden Sie ein Termin</h4>
              <p>
                Reservieren Sie einen Termin, um mit unseren Experten über ihr Anliegen zu sprechen.
              </p>
            </div>
          </div>
        </div>
        <div class="ctn-point">
          <div class="desktop-only">
            <img src="/assets/s2.png" alt=""/>
            <h4>2. QR Code erstellen</h4>
            <p>
              We will look at your answers and then see which package suits you best.
            </p>
          </div>
          <div class="mobile-only row">
            <div class="col-2 num dashed">2</div>
            <div class="col-10 text-left">
              <h4>Wir melden uns bei Ihnen</h4>
              <p>
                Ein Experte von Cloudbasiert wird sich in weniger als 24 Stunden mit Ihnen in Verbindung setzen
              </p>
            </div>
          </div>
        </div>
        <div class="ctn-point">
          <div class="desktop-only">
            <img src="/assets/s3.png" alt=""/>
            <h4>3. Aufsteller plazieren</h4>
            <p>
              After that you can decide if you agree to the package and then you can conclude your contract.
            </p>
          </div>
          <div class="mobile-only row">
            <div class="col-2 num">3</div>
            <div class="col-10 text-left">
              <h4>Kostenfreier Workshop</h4>
              <p>
                Ein Experte von Cloudbasiert führt für ihr Unternehmen einen Workshop durch
              </p>
            </div>
          </div>
        </div>
      </div>
      <p class="desktop-only tnc">
        Erfahren Sie mehr über die Funktionsweise. <a href="#">Bedingungen und Konditionen.</a>
      </p>
    </div>
  </section>

  <section class="section3 text-left">
    <div class="bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-5">
          <div class="ctn-qr"></div>
          <div class="title">
            Codes erstellen &<br/>Aufsteller platzieren
          </div>
          <div class="sub-title">
            Gewünschtes Layout auswählen, Kombipaket buchen und die Aufsteller, Sticker bequem platzieren.
          </div>
          <a href="#">Mehr erfahren ></a>
        </div>
      </div>
    </div>
  </section>

  <section class="section4">
    <div class="container">
      <div class="title">Buche das <br/>rundumsorglos Paket</div>
      <div class="row">
        <div class="col-8">
          <div class="ctn-carousel">
            <ui-carousel
              slides="homeCtrl.slides"
              slides-to-show="1"
              slides-to-scroll="1"
              initial-slide="1"
              autoplay="false"
              autoplay-speed="2000"
              dots="false">

              <carousel-item>
                <div style="
                  background: url({{item.image}}) no-repeat center;
                  background-size: cover;
                  height: 400px;
                "></div>
              </carousel-item>

              <carousel-prev>
                <button class="carousel-btn">
                  <img src="/assets/sl-l.png" alt="">
                </button>
              </carousel-prev>

              <carousel-next>
                <button class="carousel-btn">
                  <img src="/assets/sl-r.png" alt="">
                </button>
              </carousel-next>

            </ui-carousel>
          </div>
        </div>
        <div class="col-4 text-left">
          <div class="pre-title">
            Passender Aufsteller <br/>dazu buchen
          </div>
          <div class="sub-title">
            After that you can decide if you agree to the package and then you can conclude your contract.
          </div>
          <div class="pre-title cost">14,99 EUR</div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row row-wt">
        <div class="col-12">
          <div class="container">
            <div class="row">
              <div class="col-8"></div>
              <div class="col-4 text-left">
                <div class="ctn-size">
                  <div
                    ng-click="homeCtrl.activeSize = 'S'"
                    ng-class="{'active': homeCtrl.activeSize === 'S'}"
                    >S</div>
                  <div
                    ng-click="homeCtrl.activeSize = 'M'"
                    ng-class="{'active': homeCtrl.activeSize === 'M'}"
                    >M</div>
                  <div
                    ng-click="homeCtrl.activeSize = 'L'"
                    ng-class="{'active': homeCtrl.activeSize === 'L'}"
                    >L</div>
                </div>
                <button class="btn btn-pr">Jetz kaufen</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade dl-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          Click <a target="_blank" href="{{dlPath}}">here</a> to download the PDF
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--  <div class="modal fade dl-modal-2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h2>Dein Vertrag ist fertiggestellt.</h2>
          <p>Du kannst deinen Vertrag direkt runterladen oder einfach als Link verschicken.</p>
          <div class="copy-box">
            <div class="label">DEIN PERSONALIERTER LINK</div>
            <input type="text" ng-model="shareLink" readonly />
            <div class="copy-btn" data-clipboard-text="{{ shareLink }}">{{ copyText }}</div>
          </div>
          <div class="or-box">
            <div class="dash"></div>
            <div>ODER</div>
            <div class="dash"></div>
          </div>
          <button ng-click="download()" class="btn btn-success">PDF SPEICHERN</button>
          <img src="/assets/batch.png" alt="" />
          <span>434 Bewertungen</span>
        </div>
      </div>
    </div>
  </div>-->
</main>
<f></f>
