<div class="ctn-menu-bg menu-jap menu-edit" ng-style="{ transformOrigin: 'top', transform: 'scale('+ $ctrl.zoom +')', paddingBottom: ($ctrl.zoom * 100) + 'px' }">
  <div class="ctn-menu-outer">
    <div class="ctn-menu-inner">
      <div class="ctn-menu-page"
         ng-repeat="currPage in $ctrl.menu.pages track by $index"
         ng-class="{'active': $ctrl.menu.activePage === $index}"
        >
        <div class="ctn-menu">
          <div>
            <div class="vegan">
              <div><img src="assets/plant 1.png" alt="" />Vegan</div>
              <div><img src="assets/herb 1.png" alt="" />Vegetarian</div>
            </div>
            <div class="input-gr"
               ng-repeat="gr in currPage.fields track by $index"
               ng-style="{ top: gr.pos.top + 'px', left: gr.pos.left + 'px' }"
              >
              <div class="veg-ind veg1" ng-show="gr.vegType === 'veg1'">
                <img src="assets/plant 1.png" alt=""/>
              </div>
              <div class="veg-ind veg2" ng-show="gr.vegType === 'veg2'">
                <img src="assets/herb 1.png" alt=""/>
              </div>
              <div class="text-left">
                <input
                  class="name" type="text"
                  focus-on="{ page: $parent.$index, field: $index }"
                  ng-model="gr.name.v" placeholder="{{gr.name.p}}"
                /><br/>
                <input class="desc" type="text" ng-model="gr.desc.v" placeholder="{{gr.desc.p}}"/>
              </div>
              <div class="text-right">
                <input class="price" type="text" ng-model="gr.price.v" placeholder="{{gr.price.p}}"/>
              </div>
            </div>
            <textarea class="title-gr"
               ng-repeat="gr in currPage.titles track by $index"
               ng-style="{ top: gr.top + 'px', left: gr.left + 'px' }"
               ng-class="{ 'title-main': !!gr.main }"
               ng-model="gr.v">
            </textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="ctn-btn">
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a href
               class="page-link"
               ng-click="$ctrl.pageFn({ type: 'prev' })">
              &laquo;
            </a>
          </li>

          <li
            class="page-item"
            ng-repeat="page in $ctrl.menu.pages track by $index"
            ng-class="{'active': $ctrl.menu.activePage === $index}"
          >
            <a href
               class="page-link"
               ng-click="$ctrl.pageFn({ type: 'number', page: $index })">
              {{ $index + 1 }}
            </a>
          </li>

          <li class="page-item">
            <a href
               class="page-link"
               ng-click="$ctrl.pageFn({ type: 'next' })">
              &raquo;
            </a>
          </li>
        </ul>
      </nav>
      <button
        class="btn btn-pr btn-qr-main no-mobile"
        ng-click="$ctrl.save(true)"
        data-toggle="modal" data-target="#qrModal"
      >
        <img src="assets/s2.png" alt="">
        <div>QR Code<br/>erstellen</div>
      </button>
    </div>
    <div class="ctn-img-up">
      <label for="avatar">Select logo for QR code:</label>
      <input type="file"
             id="avatar" name="avatar"
             accept="image/png, image/jpeg">
    </div>
  </div>
  <div class="ctn-clip no-mobile"></div>
</div>
<div class="ctn-menu-bg menu-jap menu-download">
  <div class="ctn-menu-outer">
    <div class="ctn-menu-inner" ng-repeat="currPage in $ctrl.menu.pages track by $index">
      <div class="ctn-menu-page">
        <div class="ctn-menu">
          <div>
            <div class="vegan">
              <div><img src="assets/plant 1.png" alt="" />Vegan</div>
              <div><img src="assets/herb 1.png" alt="" />Vegetarian</div>
            </div>
            <div class="input-gr"
               ng-repeat="gr in currPage.fields track by $index"
               ng-style="{ top: gr.pos.top + 'px', left: gr.pos.left + 'px' }"
               ng-hide="gr.name.v === ''"
              >
              <div class="veg-ind veg1" ng-show="gr.vegType === 'veg1'">
                <img src="assets/plant 1.png" alt=""/>
              </div>
              <div class="veg-ind veg2" ng-show="gr.vegType === 'veg2'">
                <img src="assets/herb 1.png" alt=""/>
              </div>
              <div class="text-left">
                <input
                  class="name" type="text"
                  focus-on="{ page: $parent.$index, field: $index }"
                  ng-model="gr.name.v" placeholder="{{gr.name.p}}"
                /><br/>
                <input class="desc" type="text" ng-model="gr.desc.v" placeholder="{{gr.desc.p}}"/>
              </div>
              <div class="text-right">
                <input class="price" type="text" ng-model="gr.price.v" placeholder="{{gr.price.p}}"/>
              </div>
            </div>
            <textarea class="title-gr"
               ng-repeat="gr in currPage.titles track by $index"
               ng-style="{ top: gr.top + 'px', left: gr.left + 'px' }"
               ng-class="{ 'title-main': !!gr.main }"
               ng-model="gr.v" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<pre class="deb-obj">
  {{ $ctrl.showLoader | json }}
  {{ $ctrl.menu.pages | json }}
</pre>
