<h></h>
<main class="ctn-load">
  <section class="sub-header">
    <div class="container">
      <div class="inner">
        <div class="s-item box ctn-save" ng-click="loadCtrl.save()">
          <img src="assets/save-icon.png" alt=""/>
          <div>Speichem</div>
        </div>
        <div class="s-item no-mobile ctn-switch">
          Tag Modus
          <div class="btn-switch"
               ng-class="{'btn-switch--on':loadCtrl.menu.isDark}"
               ng-model="loadCtrl.menu.isDark"
               ng-click="loadCtrl.menu.isDark = !loadCtrl.menu.isDark">
            <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':loadCtrl.menu.isDark}"></div>
          </div>
          Nacht Modus
        </div>
        <div class="s-item no-mobile">
          <button class="btn btn-pr" ng-click="loadCtrl.openPDF()">Vorschau QR Menu</button>
        </div>
      </div>
    </div>
  </section>

  <section class="menu-editor"
    ng-class="{
      'dark': loadCtrl.menu.isDark,
      'is-pizza': loadCtrl.menu.title === 'Pizza'
    }">
    <coffee
      ng-if="loadCtrl.menu.title === 'Allge.'"
      menu="loadCtrl.menu"
      filled-fields="loadCtrl.filledFields"
      zoom="loadCtrl.zoom"
      save="loadCtrl.save"
      show-loader="loadCtrl.showLoader"
      focused-el="loadCtrl.focusedEl"
    ></coffee>
    <japanese
      ng-if="loadCtrl.menu.title === 'Sushi'"
      menu="loadCtrl.menu"
      filled-fields="loadCtrl.filledFields"
      zoom="loadCtrl.zoom"
      save="loadCtrl.save"
      show-loader="loadCtrl.showLoader"
      focused-el="loadCtrl.focusedEl"
    ></japanese>
    <pizza
      ng-if="loadCtrl.menu.title === 'Pizza'"
      menu="loadCtrl.menu"
      filled-fields="loadCtrl.filledFields"
      zoom="loadCtrl.zoom"
      save="loadCtrl.save"
      show-loader="loadCtrl.showLoader"
      focused-el="loadCtrl.focusedEl"
    ></pizza>

    <div class="ctn-float-box no-mobile">
      <div class="inner">
        <div class="b-item perc">
          <div>{{ (loadCtrl.filledFields * 100 / loadCtrl.totalFields).toFixed(0)}}<sup>%</sup></div>
          <span>geschafft</span>
        </div>
        <div class="b-item no-fields">
          <div class="num">
            <img ng-click="loadCtrl.focusFn('prev')" src="assets/arr-l.png" class="inv"/>
            <div>{{loadCtrl.filledFields}} / {{loadCtrl.totalFields}}</div>
            <img ng-click="loadCtrl.focusFn('next')" src="assets/arr-r.png" class="inv"/>
          </div>
          <span>Pflichtfelder<br/>befüllt</span>
        </div>
        <div class="b-item outlined hov" ng-click="loadCtrl.addMenuPage()">Seite Hinzufügen</div>
        <div class="b-item outlined zoom">
          <span>{{(loadCtrl.zoom * 100).toFixed(0)}}%</span>
          <div class="btn-group">
            <button type="button" ng-click="loadCtrl.zoomFn('-')" class="btn btn-sm btn-light">-</button>
            <button type="button" ng-click="loadCtrl.zoomFn('+')" class="btn btn-sm btn-light">+</button>
          </div>
        </div>
        <div class="b-item veg">
          <div ng-click="loadCtrl.toggleVeg('veg1')"><img src="assets/plant 1.png" alt="" />Vegan</div>
          <div ng-click="loadCtrl.toggleVeg('veg2')"><img src="assets/herb 1.png" alt="" />Vegetarian</div>
        </div>
        <div class="b-item qr-btn">
          <button
            class="btn btn-light btn-block"
            ng-click="loadCtrl.save(true)"
            data-toggle="modal" data-target="#qrModal"
            >
            <img src="assets/qr-dark.png" alt="">
            <div>QR Code<br/>erstellen</div>
          </button>
        </div>
      </div>
    </div>

    <div class="ctn-btn no-desktop">
      <div class="btn-item ctn-add-page" ng-click="loadCtrl.addMenuPage()">+ Seite Hinzufügen</div>
      <div class="btn-item ctn-switch">
        Tag Modus
        <div class="btn-switch"
             ng-class="{'btn-switch--on':loadCtrl.menu.isDark}"
             ng-model="loadCtrl.menu.isDark"
             ng-click="loadCtrl.menu.isDark = !loadCtrl.menu.isDark">
          <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':loadCtrl.menu.isDark}"></div>
        </div>
        Nacht Modus
      </div>
      <button class="btn-item btn btn-pr" ng-click="loadCtrl.openPDF()">Vorschau QR Menu</button>
      <button
        class="btn-item btn btn-pr btn-qr-main"
        ng-click="loadCtrl.save(true)"
        data-toggle="modal" data-target="#buyModal"
        >
        <img src="assets/s2.png" alt="">
        <div>QR Code<br/>herunterladen</div>
      </button>
    </div>
  </section>
  <portal>
    <div class="modal fade qr-modal" tabindex="-1" role="dialog" id="qrModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <img id="ctn-qr" />
            <h5 class="mt-3">
              Scan the QR code for a link to your created menu.<br/>
              Or click <a target="_blank" href="{{ loadCtrl.viewLink }}">here</a> to view
            </h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-pr" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade buy-modal" tabindex="-1" role="dialog" id="buyModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="mt-3">
              Please enter your details below
            </h5><br/>
            <form class="text-left" name="loadCtrl.payForm">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" ng-model="loadCtrl.formData.f" placeholder="Vorname" required/>
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" ng-model="loadCtrl.formData.l" placeholder="Nachname" required/>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" ng-model="loadCtrl.formData.em" placeholder="Email" required/>
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" ng-model="loadCtrl.formData.ph" placeholder="Phone" required/>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" ng-model="loadCtrl.formData.add1" placeholder="Address line 1..eg. 1234 Main St" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" ng-model="loadCtrl.formData.add2" placeholder="Address Line 2..eg. Apartment, studio, or floor" />
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" ng-model="loadCtrl.formData.c" placeholder="City">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" ng-model="loadCtrl.formData.p" placeholder="Postal Code">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 d-flex justify-content-center align-items-center">
                  Size:
                  <select
                    class="form-control ml-4"
                    ng-model="loadCtrl.formData.sz"
                    ng-options="size for size in loadCtrl.formData.sizes"
                  >
                  </select>
                </div>
                <div class="form-group col-md-6 d-flex align-items-center">
                  Net Total: 14,99 EUR
                </div>
              </div>
              <div id="ctn-pp-btn"></div>
            </form>
            <!--<pre>{{ loadCtrl.payForm | json }}</pre>-->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-pr" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </portal>
</main>
<f></f>
<l ng-show="loadCtrl.showLoader"/>
