<h></h>
<main class="ctn-load">
  <section class="sub-header">
    <div class="container">
      <div class="inner">
        <div class="s-item box ctn-new" ng-click="loadCtrl.save()">
          <img src="/assets/save-icon.png" alt=""/>
          <div>Speichem</div>
        </div>
        <div class="s-item ctn-switch">
          Tag Modus
          <div class="btn-switch"
               ng-class="{'btn-switch--on':loadCtrl.menu.isDark}"
               ng-model="loadCtrl.menu.isDark"
               ng-click="loadCtrl.menu.isDark = !loadCtrl.menu.isDark">
            <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':loadCtrl.menu.isDark}"></div>
          </div>
          Nacht Modus
        </div>
        <div class="s-item">
          <button class="btn btn-pr" data-toggle="modal" data-target="#qrModal">Vorschau QR Menu</button>
        </div>
      </div>
    </div>
  </section>

  <section class="menu-editor" ng-class="{ 'dark': loadCtrl.menu.isDark }">
    <coffee
      ng-if="loadCtrl.menu.title === 'Allge.'"
      menu="loadCtrl.menu"
      filled-fields="loadCtrl.filledFields"
      focused-el="loadCtrl.focusedEl"
      zoom="loadCtrl.zoom"
      show-loader="loadCtrl.showLoader"
    ></coffee>
    <japanese
      ng-if="loadCtrl.menu.title === 'Sushi'"
      menu="loadCtrl.menu"
      filled-fields="loadCtrl.filledFields"
      focused-el="loadCtrl.focusedEl"
      zoom="loadCtrl.zoom"
      show-loader="loadCtrl.showLoader"
    ></japanese>
    <pizza
      ng-if="loadCtrl.menu.title === 'Pizza'"
      menu="loadCtrl.menu"
      filled-fields="loadCtrl.filledFields"
      focused-el="loadCtrl.focusedEl"
      zoom="loadCtrl.zoom"
      show-loader="loadCtrl.showLoader"
    ></pizza>

    <div class="ctn-float-box">
      <div class="inner">
        <div class="b-item perc">
          <div>{{ (loadCtrl.filledFields * 100 / loadCtrl.totalFields).toFixed(0)}}<sup>%</sup></div>
          <span>geschafft</span>
        </div>
        <div class="b-item no-fields">
          <div class="num">
            <img ng-click="loadCtrl.focusFn('prev')" src="/assets/arr-l.png" class="inv"/>
            <div>{{loadCtrl.filledFields}} / {{loadCtrl.totalFields}}</div>
            <img ng-click="loadCtrl.focusFn('next')" src="/assets/arr-r.png" class="inv"/>
          </div>
          <span>Pflichtfelder<br/>befüllt</span>
        </div>
        <div class="b-item outlined hov" ng-click="loadCtrl.addMenuPage()">Seite Hinzufügen</div>
        <div class="b-item outlined zoom">
          <span>{{(loadCtrl.zoom * 100).toFixed(0)}}%</span>
          <div class="btn-group">
            <button type="button" ng-click="loadCtrl.zoomFn('-')" class="btn btn-sm btn-light">-</button>
            <button type="button" ng-click="loadCtrl.zoomFn('+')" class="btn btn-sm btn-light">+</button>
          </div>
        </div>
        <div class="b-item veg">
          <div><img src="/assets/plant 1.png" alt="" />Vegan</div>
          <div><img src="/assets/herb 1.png" alt="" />Vegetarian</div>
        </div>
        <div class="b-item qr-btn">
<!--            ng-click="loadCtrl.getQR()" -->
          <button
            class="btn btn-light btn-block"
            data-toggle="modal" data-target="#qrModal"
          >
            <img src="/assets/qr-dark.png" alt="">
            <div>QR Code<br/>erstellen</div>
          </button>
        </div>
      </div>
    </div>
  </section>
  <portal>
     <!-- your component scope is available here -->
    <div class="modal fade qr-modal" tabindex="-1" role="dialog" id="qrModal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <qrcode data="{{ loadCtrl.viewLink }}" size="200"></qrcode>
            <h5 class="mt-3">Scan the QR code for a link to your created menu.</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-pr" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </portal>
</main>
<f></f>
