Pizza
<div class="ctn-menu-bg" style="
  background: url(/assets/japanese/base.jpg);
  background-size: 1840px 1985px;
  background-position: 50% 0%;
  height: 1980px;
  ">
  <div class="ctn-menu-outer" style="
    position: absolute;
    top: 240px; left: 0;
    ">
    <div class="ctn-menu-inner" style="
      position:relative;
      top: -9px;
      left: -5px;
      width: 192mm;
      height: 935px;
      background: url(/assets/japanese/menu-bg.jpg);
      background-size: 100%;
      margin: 0 auto;
      padding: 20px;
      ">
      <div class="ctn-btn">
        <button ng-click="download()" class="btn btn-success">
          <img src="/assets/s2.png" alt="">
          <div>Als PDF Speichern</div>
        </button>
      </div>
      <div class="ctn-menu" style="
        /*background: url(/assets/japanese/menu.jpg) no-repeat;*/
        background: url(/assets/japanese/menu-dark.jpg) no-repeat;
        background-size: 100% 100%;
        height: 100%;
        ">
      </div>
    </div>
  </div>
  <div class="ctn-clip" style="
    background: url(/assets/japanese/clip.png);
    position: absolute;
    top: 6px;
    left: -8px;
    background-size: 1870px 280px;
    background-position: 50% 0%;
    height: 260px;
  "></div>
</div>
