<h></h>
<main class="ctn-img">
  <button ng-click="imgCtrl.generatePDF()" class="btn btn-pr btn-dl">
    <img src="assets/download-icon.png" alt="">
    <div>Als PDF<br/> Speichern</div>
  </button>
  <section class="menu-editor" ng-class="{ 'dark': imgCtrl.menu.isDark }">
    <coffee
      ng-if="imgCtrl.menu.title === 'Allge.'"
      menu="imgCtrl.menu"
      filled-fields="imgCtrl.filledFields"
      focused-el="imgCtrl.focusedEl"
      zoom="imgCtrl.zoom"
      download="imgCtrl.download"
      show-loader="imgCtrl.showLoader"
    ></coffee>
    <japanese
      ng-if="imgCtrl.menu.title === 'Sushi'"
      menu="imgCtrl.menu"
      filled-fields="imgCtrl.filledFields"
      focused-el="imgCtrl.focusedEl"
      zoom="imgCtrl.zoom"
      download="imgCtrl.download"
      show-loader="imgCtrl.showLoader"
    ></japanese>
    <pizza
      ng-if="imgCtrl.menu.title === 'Pizza'"
      menu="imgCtrl.menu"
      filled-fields="imgCtrl.filledFields"
      focused-el="imgCtrl.focusedEl"
      zoom="imgCtrl.zoom"
      download="imgCtrl.download"
      show-loader="imgCtrl.showLoader"
    ></pizza>
  </section>
</main>
<l ng-show="imgCtrl.showLoader"/>
