html, body{
  @extend %fhw;
}

body {
  font-family: 'Roboto', Courier, monospace;
  text-align: center;
}

.ctn-link{
  mix-blend-mode: difference;
  @include pf("", 0, 0, "");
  z-index: 2;
}

div[ui-view]{
  @extend %fh;
  position: relative;
  z-index: 1;
}

.no-mobile{
  @include media("<=tablet") {
    display: none !important;
  }
}

.no-desktop{
  @include media(">tablet") {
    display: none !important;
  }
}
