header{
  @extend %fw;
  background-color: #fdfdfd;
  @include media("<=tab") {
    position: relative;
  }
  .navbar{
    height: $headHeight;
    font-size: 20px;
    @include media("<=tab") {
      padding: 10px;
      height: unset;
    }
    .navbar-brand{
      @extend %cp;
      font-family: $os;
      font-weight: 700;
      font-size: 25px;
    }
    .nav-item{
      padding: 0 10px;
      .nav-link{
        color: $b !important;
        display: flex;
        align-items: center;
        img{
          height: 60px;
        }
        span{
          font-size: 14px;
          padding-right: 15px;
        }
      }
      &.rating{
        @include media(">tab","<=lp") {
          display: none;
        }
      }
    }
  }
}
