.ctn-home{
  @include media("<=tab") {
    overflow: hidden;
  }
  section{
    color: $pr;
    font-family: $os;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 0;
    .pre-title{
      font-size: 25px;
      font-weight: 700;
    }
    .title{
      font-size: 40px;
      font-weight: 700;
    }

    &.section2{
      background: $pr;
      color: $w;
      padding: 2vh 0;
      //p{ font-family: $os-r; }
      .points{
        @extend %j-s-b;
        align-items: flex-start;
        @include media("<=tab"){
          flex-direction: column;
          align-items: center;
        }
        margin-top: 100px;
        .ctn-point{
          @include media("<=tab"){
            width: 100%;
          }
          img{
            height: 60px;
          }
          h4{
            margin-top: 25px;
            margin-bottom: 25px;
            font-size: 25px;
            font-weight: 700;
            @include media("<=tab"){
              font-size: 20px;
              margin: 0;
            }
          }
          p{ width: 16vw; margin: 0 auto; }
          .mobile-only{
            .num{
              line-height: 1;
              font-size: 36px;
              font-family: $os;
              &.dashed:after{
                transform: translate(-50%, -10%);
                content: "";
                height: 65%;
                width: 1px;
                position: absolute;
                bottom: 0;
                left: 50%;
                background-image:
                  linear-gradient(to right, rgba($sc, 1) 50%, transparent 50%),
                  linear-gradient(to right, rgba($sc, 1) 50%, transparent 50%),
                  linear-gradient(to bottom, rgba($sc, 1) 50%, transparent 50%),
                  linear-gradient(to bottom, rgba($sc, 1) 50%, transparent 50%);
                background-position: left top, left bottom, left top, right top;
                background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
                background-size: 20px 3px, 20px 0px, 3px 20px, 3px 20px;
              }
            }
            p{
              width: 100%;
              font-size: 14px;
              margin-bottom: 85px;
            }
          }
        }
      }
      p.tnc{
        margin-top: 50px;
        font-size: 15px;
        a{ color: $w; font-weight: 700; }
      }
    }

    &.section3{
      @extend %j-f-s;
      height: 621px;
      color: $pr;
      @include media("<=tab"){
        display: block;
        height: auto;
      }
      .container{
        @include media("<=tab"){ padding: 5vh; }
      }
      .bg{
        @extend %fh;
        @include pa(0, "", "", 0);
        width: 50%;
        background: url(assets/bg.png) no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        clip-path: polygon(0% 0%, 15% 100%, 100% 100%, 100% 0%);
        @include media("<=tab"){
          position: relative;
          width: 100%;
          height: 460px;
          background-position: 80% 50%;
          clip-path: unset;
        }
      }
      .ctn-qr{
        height: 90px;
        width: 90px;
        border-radius: 50%;
        background-image: url(assets/s2.png);
        background-color: $pr;
        background-size: 55%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .title{
        margin: 25px 0;
        line-height: 1.25;
        @include media("<=tab"){ font-size: 32px; }
      }
      .sub-title{
        margin: 25px 0;
        @include media("<=tab"){ font-size: 17px; }
      }
      a{
        color: #2c9cdb;
        font-size: 25px;
        font-weight: 700;
        @include media("<=tab"){ font-size: 17px; }
      }
    }
  }
}
