.ctn-home{
  @include media("<=tablet") {
    overflow: hidden;
  }
  section{
    color: $pr;
    font-family: $os;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 0;
    .pre-title{
      font-size: 25px;
      font-weight: 700;
    }
    .title{
      font-size: 40px;
      font-weight: 700;
    }

    &.section2{
      background: $pr;
      color: $w;
      padding: 2vh 0;
      //p{ font-family: $os-r; }
      .points{
        @extend %j-s-b;
        align-items: flex-start;
        @include media("<tablet"){
          flex-direction: column;
          align-items: center;
        }
        margin-top: 100px;
        .ctn-point{
          @include media("<tablet"){
            width: 100%;
          }
          img{
            height: 60px;
          }
          h4{
            margin-top: 25px;
            margin-bottom: 25px;
            font-size: 25px;
            font-weight: 700;
            @include media("<tablet"){
              font-size: 20px;
              margin: 0;
            }
          }
          p{ width: 16vw; margin: 0 auto; }
        }
      }
      p.tnc{
        margin-top: 50px;
        font-size: 15px;
        a{ color: $w; font-weight: 700; }
      }
    }

    &.section3{
      @extend %j-f-s;
      height: 621px;
      color: $pr;
      .bg{
        @extend %fh;
        @include pa(0, "", "", 0);
        width: 50%;
        background: url(/assets/bg.png) no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        clip-path: polygon(0% 0%, 15% 100%, 100% 100%, 100% 0%);
      }
      .ctn-qr{
        height: 90px;
        width: 90px;
        border-radius: 50%;
        background-image: url(/assets/s2.png);
        background-color: $pr;
        background-size: 55%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .title{
        margin: 25px 0;
        line-height: 1.25;
      }
      .sub-title{
        font-size: 25px;
        margin: 25px 0;
      }
      a{
        color: #2c9cdb;
        font-size: 25px;
        font-weight: 700;
      }
    }

    &.section4{
      padding-top: 5vh;
      background: rgba(196, 196, 196, 0.19);
      .title{ margin-bottom: 5vh; }
      .cost{
        margin: 30px 0;
        font-family: $ex;
        font-weight: 700;
      }
      .ctn-carousel{
        position: relative;
        .ui-carousel{
          position: absolute;
          top:0; left: 0;
          width: 80%;
          height: 400px;
          .carousel-btn{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0 4px 4px 0 rgba($b, 0.15);
            background-color: $w;
            img{ height: 15px; }
          }
          .carousel-prev .carousel-btn{ left: -60px; }
          .carousel-next .carousel-btn{ right: -60px; }
          .carousel-item{ display: inline-block; }
        }
      }
      .row-wt{
        background: $w;
        padding-top: 35px;
        padding-bottom: 35px;
        .ctn-size{
          @extend %j-f-s;
          color: $pr;
          font-family: $ex;
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 50px;
          div{
            cursor: pointer;
            padding: 10px 20px;
            border-bottom: 5px solid transparent;
            &:hover, &.active{
              border-color: $pr;
            }
          }
        }
        button{
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
}
