.ctn-load{
  @include media("<=tablet") {
    overflow: hidden;
  }
  section{
    color: $pr;
    font-family: $os;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    .pre-title{
      font-size: 25px;
      font-weight: 700;
    }
    .title{
      font-size: 40px;
      font-weight: 700;
    }
  }
}
