.menu-editor{
  position: relative;
  z-index: 0;
  @include media("<=tablet") {
    // padding-top: 20 + $subHeadHeight + 80;
    padding-top: 80px;
  }

  .ctn-menu-bg{
    @extend %fw;
    position: relative;
    &.menu-edit{ display: block; }
    &.menu-download{ display: none; }
    .ctn-menu-outer{
      @extend %fw;
      .ctn-menu-inner{
        overflow: hidden;
      }
      .ctn-menu-page{
        @extend %fhw;
        @include pa(0,0);
        padding: 20px;
        z-index: 0;
        opacity: 0;
        &.active{
          z-index: 1;
          opacity: 1;
        }
      }
      .ctn-menu{
        position: relative;
        .title-gr{
          font-family: $ru;
          font-size: 70px;
          width: 250px;
          text-align: center;
          line-height: 1;
          background: $tr;
          //&:focus{ outline: none; }
          border: none;
          z-index: 0;
          &.title-main{
            font-size: 100px;
          }
        }
        .input-gr{
          z-index: 1;
          input {
            @include plh($b);
            font-family: $ex;
            font-size: 16px;
            font-weight: 700;
            background: none;
            border: none;
            text-overflow: ellipsis;

            &.name {
              width: 140px;
            }

            &.desc {
              font-size: 12px;
              font-weight: 400;
              position: relative;
              top: -8px;
            }

            &.price {
              width: 50px;
            }
          }
          textarea{
            @include plh($b);
            font-family: $ex;
            font-size: 16px;
            font-weight: 700;
            background: none;
            border: none;
            resize: none;
          }
        }
      }
      .ctn-btn{
        @extend %fw;
        .pagination{
          margin-bottom: 100px;
          .page-link{
            color: $w;
            background-color: $pr;
            border: 1px solid $pr;
          }
          .active .page-link, .page-link:hover{
            color: $pr;
            background-color: $w;
            border: 1px solid $w;
          }
        }
        button{
          @extend %j-s-b;
          height: auto;
          color: $sc;
          font-family: $ex;
          font-weight: 700;
          font-size: 25px;
          line-height: normal;
          margin: 0 auto;
          img{
            height: 50px;
            margin-right: 25px;
          }
        }
      }
    }
    .ctn-clip{
      @extend %fw;
      z-index: 1;
    }

    &.menu-jap{
      background: url(/assets/japanese/base.jpg);
      background-size: 1840px 1985px;
      background-position: 50% 0%;
      height: 1980px;
      .ctn-menu-outer{
        position: absolute;
        top: 240px; left: 0;
      }
      .ctn-menu-inner {
        position: relative;
        top: -9px;
        left: -5px;
        width: 192mm;
        height: 935px;
        margin: 0 auto;
        padding: 20px;
        background: url(/assets/japanese/menu-bg.jpg);
        background-size: 100%;
      }
      .ctn-menu{
        background: url(/assets/japanese/menu.jpg) no-repeat;
        background-size: 100% 100%;
        height: 100%;
        .title-gr{
          position: absolute;
          color: $t-j;
          resize: none;
          height: 90px;
          text-align: left;
          &.title-main{
            text-align: center;
            font-family: $ex;
            font-size: 30px;
            color: $w;
          }
        }
        .input-gr{
          @extend %j-s-b;
          align-items: flex-start;
          position: absolute;
          width: 190px;
        }
      }
      .ctn-clip{
        background: url(/assets/japanese/clip.png);
        position: absolute;
        top: 6px;
        left: -8px;
        background-size: 1870px 280px;
        background-position: 50% 0%;
        height: 260px;
      }
      .ctn-btn{
        position: absolute;
        bottom: -250px; left: 0;
      }
    }
    &.menu-coffee{
      background: $w;
      height: 1360px;
      .ctn-menu-outer{
        position: absolute;
        top: 50px; left: 0;
      }
      .ctn-menu-inner {
        position: relative;
        top: -9px;
        left: -5px;
        width: 172mm;
        height: 900px;
        margin: 0 auto;
        padding: 20px;
        background: #414a4c;
      }
      .ctn-menu{
        background-image: url(/assets/coffee/menu.png);
        background-color: $w;
        background-size: contain;
        height: 100%;
        padding-top: 75px;
        font-family: $ex;
        .title-gr{
          font-family: $ex;
          font-weight: 700;
          color: $b;
          font-size: 30px;
          letter-spacing: 6px;
          margin: 0 auto;
          margin-bottom: 25px;
          width: 300px;
        }
        .input-gr{
          margin-bottom: 15px;
          font-weight: 700;
          input{
            font-size: 15px;
            letter-spacing: 3px;
            width: 160px;
            &.name{ text-align: right; }
          }
        }
        .offers{
          width: 80%;
          margin: 0 auto;
          h1{ margin-top: 60px; }
          .input-gr textarea{
            width: 100%;
            text-align: left;
            letter-spacing: 3px;
            &::-webkit-input-placeholder {
              letter-spacing: 3px;
            }
            &:-moz-placeholder {
              letter-spacing: 3px;
            }
            &::-moz-placeholder {
              letter-spacing: 3px;
            }
            &:-ms-input-placeholder {
              letter-spacing: 3px;
            }
          }
        }
        .vegan{
          padding: 40px;
          text-align: left;
          font-size: 15px;
          img { height: 15px; margin-right: 5px; }
        }
      }

      .ctn-btn{
        position: absolute;
        bottom: -250px; left: 0;
      }
    }
    &.menu-pizza{
      background: url(/assets/pizza/base.jpg);
      background-size: 1840px 1405px;
      background-position: 0% 0%;
      height: 1400px;
      .ctn-menu-outer{
        position: absolute;
        top: 150px; left: 240px;
      }
      .ctn-menu-inner {
        position: relative;
        width: 1145px;
        height: 205mm;
        padding: 20px;
      }
      .ctn-menu-page{
        padding: 0;
      }
      .ctn-menu{
        background: url(/assets/pizza/menu.jpg) no-repeat;
        background-size: 100% 100%;
        height: 100%;
        .title-gr{
          position: absolute;
          color: $t-p;
          &.title-main{
            width: 450px;
          }
        }
        .input-gr{
          @extend %j-s-b;
          align-items: flex-start;
          position: absolute;
          width: 200px;
          input{
            &.desc{ font-size: 10px; width: 100%; }
          }
        }
      }
      .ctn-clip{
        background: url(/assets/japanese/clip.png);
        position: absolute;
        top: 6px;
        left: -8px;
        background-size: 1870px 280px;
        background-position: 50% 0%;
        height: 260px;
      }
      .ctn-btn{
        position: absolute;
        bottom: -280px; left: -340px;
      }
    }
  }

  &.dark .menu-jap .ctn-menu{
    background: url(/assets/japanese/menu-dark.jpg) no-repeat;
    background-size: 100% 100%;
  }
  &.dark .menu-coffee .ctn-menu{
    background-image: url(/assets/coffee/menu-dark2.png);
    background-color: transparent;
    background-repeat: repeat-y;
    background-size: contain;
    .title-gr{ color: $w; }
  }
  &.dark .menu-pizza .ctn-menu{
    background-image: url(/assets/pizza/menu-dark.jpg);
  }
  &.dark .ctn-menu-bg .ctn-menu-outer .ctn-menu{
    color: $w;
    .input-gr{
      input, textarea{
        color: $w;
        @include plh($w);
      }
    }
  }

  .deb-obj{
    background: black;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: left;
    height: 500px;
    width: 350px;
    color: #fff;
  }
  .ctn-float-box{
    position: absolute;
    //top: $headHeight + $subHeadHeight + 80;
    top: 80px;
    right: 125px;
    background: $pr;
    width: 225px;
    transition: right .3s;
    border-radius: 5px;
    padding: 25px 15px;
    color: $w;
    font-family: $ex;
    z-index: 1;
    @include media("<=sld") {
      right: 25px;
    }
    > .inner{
      @extend %fhw;
      @extend %j-c;
      flex-direction: column;
      text-align: center;
      position: relative;
      .bar{
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 10px;
        background: $sc;
      }
      .b-item{
        @extend %fw;
        margin: 10px 0;
        span{ font-size: 15px; }
        &.perc{
          div{ position: relative; font-size: 50px; }
          sup{
            position: relative;
            left: 5px; top: -20px;
            font-size: 24px;
          }
        }
        &.no-fields{
          .num{
            @extend %j-s-b;
            padding: 15px 25px;
            color: $w;
            border-radius: 2px;
            background-color: rgba($sc, .5);
            margin-bottom: 10px;
            img{
              @extend %cp;
              &:hover{ filter: invert(100%); }
            }
          }
        }
        &.outlined{
          @extend %cp;
          border-radius: 2px;
          border: solid 1px $sc;
          padding: 10px 5px;
        }
        &.hov{
          &:hover{
            background: $sc;
            color: $pr;
          }
        }
        &.zoom{
          @extend %j-s-b;
          padding: 10px 25px;
          button{
            @extend %j-c;
            font-size: 24px;
            color: $pr;
            height: 24px;
            padding-top: 0;
          }
        }
        &.qr-btn{
          button{
            @extend %j-s-b;
            color: $pr;
            img{ height: 50px; }
            div{ font-weight: 700; }
          }
        }
        &.veg{
          text-align: left;
          div{
            padding: 5px;
            padding-left: 25%;
            @extend %cp;
            border-radius: 2px;
            border: solid 1px $tr;
            &:hover{ border: solid 1px $sc; }
          }
          img{
            margin-right: 10px;
            height: 22px;
          }
        }
      }
    }
  }
}

.ctn-img {
  .btn-dl{
    @extend %j-c;
    margin: 20px auto;
    height: unset;
    font-family: $ex;
    font-weight: 700;
    img{
      filter: invert(100%);
      height: 20px;
      margin-right: 15px;
    }
  }
  .menu-editor{
    .ctn-menu-bg{
      background: none;
      height: unset;

      &.menu-edit{ display: none; }
      &.menu-download{ display: block; }
      .ctn-menu-outer{
        top: 0px;
        background: $pr;
        .ctn-menu-page{ opacity: 1; }
      }
      .ctn-menu-inner{
        margin: 40px auto;
      }
      input, textarea{ pointer-events: none; }

      &.menu-coffee{
        .price, .name{ letter-spacing: 3px; }
      }
      &.menu-pizza{
        .ctn-menu-outer{ left: 0; }
      }
    }
    .ctn-clip{
      background: none;
    }
  }
}
