.menu-editor{
  position: relative;
  z-index: 0;
  .ctn-menu-bg{
    @extend %fw;
    position: relative;
    z-index: 1;
    &.menu-edit{ display: block; }
    &.menu-download{ display: none; }
    &.ctn-menu-bg-outer{
      position: absolute;
      top: 0; left:0;
      z-index: 0;
    }
    .ctn-menu-outer{ @extend %fw; }
    .ctn-menu-inner{
      overflow: hidden;
    }
    .ctn-menu-page{
      @extend %fhw;
      @include pa(0,0);
      padding: 20px;
      z-index: 0;
      opacity: 0;
      &.active{
        z-index: 1;
        opacity: 1;
      }
    }
    .ctn-menu{
      position: relative;
      .title-gr{
        font-family: $ru;
        font-size: 70px;
        width: 250px;
        text-align: center;
        line-height: 1;
        background: $tr;
        //&:focus{ outline: none; }
        border: none;
        z-index: 0;
        &.title-main{
          font-size: 100px;
        }
      }
      .input-gr{
        //z-index: 1;
        input {
          @include plh($b);
          font-family: $ex;
          font-size: 16px;
          font-weight: 700;
          background: none;
          border: none;
          @include media(">tab"){
            text-overflow: ellipsis;
          }
          &.name {
            width: 140px;
          }
          &.desc {
            font-size: 12px;
            font-weight: 400;
            position: relative;
            top: -8px;
          }
          &.price {
            width: 50px;
          }
        }
        textarea{
          @include plh($b);
          font-family: $ex;
          font-size: 16px;
          font-weight: 700;
          background: none;
          border: none;
          resize: none;
        }
        .veg-ind{
          position: absolute;
          top: 0; left: -10px;
          img{ height: 20px; }
        }
      }
      .vegan{
        position: relative;
        padding: 40px;
        text-align: left;
        font-family: $ex;
        font-size: 15px;
        img { height: 15px; margin-right: 5px; }
      }
    }
    .ctn-btn{
      @extend %fw;
      @extend %j-c;
      flex-direction: column;
      @include media(">tab"){
        position: absolute;
      }
      .pagination{
        @include media(">tab"){
          margin-bottom: 50px;
        }
        .page-link{
          color: $w;
          background-color: $pr;
          border: 1px solid $pr;
        }
        .active .page-link, .page-link:hover{
          color: $pr;
          background-color: $w;
          border: 1px solid $w;
        }
      }
    }
    .upload{
      @extend %j-c;
      position: absolute;
      z-index: 1;
      @include media("<=tab"){
        transform: scale(0.6);
      }
      input{
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        & + label{
          @extend %cp;
          @extend %j-c;
          line-height: 1.25;
          height: 85px;
          width: 85px;
          margin: 0;
          //background-image: url(assets/up-bg.png);
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
          border-radius: 10px;
          padding: 10px;
          img{ height: 75px; }
          span{
            font-weight: 700; font-size: 14px;
            color: rgba($pr, .4);
          }
        }
      }
    }
    .ctn-clip{
      @extend %fw;
      position: absolute;
      background-repeat: no-repeat;
      z-index: 1;
    }

    &.menu-coffee{
      background: $w;
      height: 1205px;
      @include media("<=tab") {
        height: 800px;
      }
      .ctn-menu-outer{
        position: absolute;
        top: 50px; left: 0;
      }
      .ctn-menu-inner {
        position: relative;
        top: -9px;
        left: -5px;
        width: 172mm;
        height: 900px;
        margin: 0 auto;
        padding: 20px;
        background: #414a4c;
        @include media("<=tab") {
          transform: scale(1) !important;
          transform-origin: center !important;
          width: 95%;
          top: 0; left: 0;
          height: 710px;
        }
      }
      .ctn-menu{
        background-image: url(assets/coffee/menu.png);
        background-color: $w;
        background-size: contain;
        height: 100%;
        padding-top: 75px;
        font-family: $ex;
        .title-gr{
          font-family: $ex;
          font-weight: 700;
          color: $b;
          font-size: 30px;
          letter-spacing: 6px;
          margin: 0 auto;
          margin-bottom: 25px;
          width: 100%;
          @include media("<=tab") {
            font-size: 25px;
          }
        }
        .input-gr{
          margin-bottom: 15px;
          font-weight: 700;
          @include media("<=tab") {
            margin-bottom: 0;
          }
          input{
            font-size: 15px;
            letter-spacing: 3px;
            width: 160px;
            &.name{ text-align: right; }
            @include media("<=tab") {
              font-size: 12px;
            }
            @include media("<=mob") {
              width: 135px;
            }
          }
        }
        .offers{
          width: 80%;
          margin: 0 auto;
          @include media("<=tab"){ margin-top: 25px; }
          h1{ margin-top: 60px; }
          .input-gr textarea{
            width: 100%;
            text-align: left;
            letter-spacing: 3px;
            &::-webkit-input-placeholder {
              letter-spacing: 3px;
            }
            &:-moz-placeholder {
              letter-spacing: 3px;
            }
            &::-moz-placeholder {
              letter-spacing: 3px;
            }
            &:-ms-input-placeholder {
              letter-spacing: 3px;
            }
            @include media("<=tab") {
              font-size: 12px;
            }
          }
        }
        .vegan{
          @include media("<=tab") { padding: 20px; }
        }
      }
      .ctn-btn{
        @include media("<=tab") { bottom: 0; }
        bottom: -250px; left: 0;
      }
    }
    &.menu-jap{
      height: 1980px;
      background-image: url(assets/japanese/base-inner.png);
      background-size: 1840px 1985px;
      background-position: 50% 0%;
      &.ctn-menu-bg-outer{
        background-image: url(assets/japanese/base-outer.jpg);
      }
      @include media("<=tab"){
        background-size: 1010px 1300px;
        height: 780px;
      }
      .ctn-menu-outer{
        position: absolute;
        top: 240px; left: 0;
        @include media("<=tab"){
          width: 95%;
          top: 155px; left: 2.5%;
        }
      }
      .ctn-menu-inner {
        position: relative;
        top: -9px;
        left: -5px;
        width: 192mm;
        height: 935px;
        margin: 0 auto;
        padding: 20px;
        background: url(assets/japanese/menu-bg.jpg);
        background-size: 100%;
        transform: scale(.85);
        transform-origin: center top;
        @include media("<=tab"){
          transform: scale(1) !important;
          transform-origin: center !important;
          width: 100%;
          left: 0;
          top: 0;
          height: 525px;
          padding: 10px;
        }
      }
      .ctn-menu-page{
        @include media("<=tab") {
          padding: 10px;
        }
      }
      .ctn-menu{
        background: url(assets/japanese/menu.jpg) no-repeat;
        background-size: 100% 100%;
        height: 100%;
        >div{
          height: 100%;
          @include media("<=tab") {
            transform: scale(0.57) translateX(-20px);
            transform-origin: top left;
          }
          @include media("<=mob") {
            transform: scale(0.52) translate(-7%, -38%);
            transform-origin: center left;
          }
        }
        .title-gr{
          position: absolute;
          color: $t-j;
          resize: none;
          height: 90px;
          text-align: left;
          &.title-main{
            text-align: center;
            font-family: $ex;
            font-size: 30px;
            color: $w;
            @include media("<=mob") {
              transform: translate(10px, -30px);
            }
          }
        }
        .input-gr{
          @extend %j-s-b;
          align-items: flex-start;
          position: absolute;
          width: 190px;
          z-index: 1;
          .veg-ind{ left: -25px; }
        }
        .vegan{
          left: 38%;
          @include media("<=tab") { left: 70%; }
          @include media("<=mob") {
            transform: translate(10px, -30px);
          }
        }
      }
      .ctn-clip{
        background-image: url(assets/japanese/clip.png);
        top: 6px;
        left: -8px;
        background-size: 1870px 280px;
        background-position: 50% 0%;
        height: 260px;
        @include media("<=tab"){
          top: 7px;
          left: -3px;
          background-size: 1090px 170px;
          background-position: 50% 0%;
          height: 160px;
        }
      }
      .ctn-btn{
        @include media("<=tab") { bottom: 0; }
        bottom: -110px; left: 0;
      }
      .upload{
        @extend %fw;
        bottom: 75px;
        left: 0;
        @include media("<=tab"){
          bottom: 23px;
        }
      }
    }
    &.menu-pizza{
      background-image: url(assets/pizza/base-inner.png);
      background-size: 1840px 1405px;
      background-position: 0% 0%;
      height: 1400px;
      &.ctn-menu-bg-outer{
        background-image: url(assets/pizza/base-outer.jpg);
      }
      @include media("<=tab") {
        background-size: 745px 500px;
        background-position: 33% 18%;
        height: 425px;
      }
      .ctn-menu-outer{
        position: absolute;
        top: 150px; left: 300px;
        @include media("<=tab") {
          top: 15px; left: 2.5%;
          transform: scale(0.9) translateX(-7%);
        }
      }
      .ctn-menu-inner {
        position: relative;
        width: 1145px;
        height: 205mm;
        padding: 20px;
        transform: scale(.85);
        transform-origin: left center;
        @include media("<=tab"){
          transform: scale(1) !important;
          padding: 10px;
          width: 109%;
          height: 310px;
        }
      }
      .ctn-menu-page{
        padding: 0;
      }
      .ctn-menu{
        background: url(assets/pizza/menu.jpg) no-repeat;
        background-size: 100% 100%;
        height: 100%;
        >div{
          height: 100%;
          @include media("<=tab") {
            transform: scale(0.4) translateX(-20px);
            transform-origin: top left;
          }
          @include media("<=mob") {
            transform: scale(0.37) translate(-20px, 33px);
          }
        }
        .title-gr{
          position: absolute;
          color: $t-p;
          &.title-main{
            width: 450px;
            @include media("<=mob") {
              transform: translate(0px, -35px);
            }
          }
        }
        .input-gr{
          @extend %j-s-b;
          align-items: flex-start;
          position: absolute;
          width: 200px;
          input{
            &.desc{ font-size: 10px; width: 100%; }
          }
          .veg-ind{ left: -25px; }
        }
        .vegan{
          left: 42%;
          @include media("<=tab") {
            transform: translate(320px, -18px);
          }
          @include media("<=mob") {
            transform: translate(320px, 0px);
          }
        }
      }
      .ctn-clip{
        background-image: url(assets/pizza/clip.png);
        top: -160px;
        left: 54px;
        background-size: 270px 1405px;
        background-position: 0% 0%;
        height: 1390px;
        width: 270px;
      }
      .ctn-btn {
        @include media("<=tab"){
          transform: translateX(5%);
          bottom: 0; left: 0;
        }
        bottom: -200px; left: -300px;
      }
      .upload{
        top: 15px; left: 15px;
        @include media("<=tab"){
          transform-origin: left top;
          top: 0px;
          left: 0px;
        }
      }
    }
  }
  &.dark{
    .menu-jap .ctn-menu{
      background: url(assets/japanese/menu-dark.jpg) no-repeat;
      background-size: 100% 100%;
    }
    .menu-coffee .ctn-menu{
      background-image: url(assets/coffee/menu-dark2.png);
      background-color: transparent;
      background-repeat: repeat-y;
      background-size: contain;
      .title-gr{ color: $w; }
    }
    .menu-pizza .ctn-menu{
      background-image: url(assets/pizza/menu-dark.jpg);
    }
    .ctn-menu-bg .ctn-menu-outer .ctn-menu{
      color: $w;
      .input-gr{
        input, textarea{
          color: $w;
          @include plh($w);
        }
      }
    }
  }

  .deb-obj{
    background: $b;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: left;
    height: 500px;
    width: 350px;
    color: $w;
  }
  .deb-obj{ display: none; }
}

.ctn-img {
  .menu-editor{
     @extend %no-select;
    .ctn-menu-bg{
      background: none;
      height: unset;

      &.menu-edit{ display: none; }
      &.menu-download{ display: block; }
      .ctn-menu-outer{
        top: 0px;
        background: $pr;
        .ctn-menu-page{ opacity: 1; }
      }
      .ctn-menu-inner{
        margin: 40px auto;
        transform: scale(1) !important;
      }
      input, textarea{ pointer-events: none; }

      &.menu-coffee{
        .price, .name{ letter-spacing: 3px; }
      }
      &.menu-jap{
        .ctn-menu-outer{
          @include media("<=tab"){
            width: 100%; left: 0;
            padding: 10px;
          }
        }
      }
      &.menu-pizza{
        .ctn-menu-outer{
          left: 0;
          @include media("<=tab") {
            transform: scale(1) translateX(0);
          }
        }
        .ctn-menu-inner{
          @include media("<=tab") {
            transform: scale(0.9) translateX(1%) !important;
          }
        }
      }
    }
    .ctn-clip{
      background: none;
    }
    .upload{ display: none; }
    .foot-text{
      font-family: $os;
      color: $w;
      font-size: 24px;
      padding: 20px;
      padding-top: 0;
      div{ font-weight: 700; }
    }
  }
}
