.modal{
  font-family: $ex;
  a{
    color: $pr;
    //text-decoration: underline;
    font-weight: 700;
  }
  button{ height: unset; }
  form{
    font-weight: 700;
    input{ font-weight: 700; }
  }
  .modal-dialog{
    max-width: fit-content;
    .step1{
      margin: -1rem;
      @include media(">tab") { width: 900px; }
    }
    .section-carousel{
      padding-top: 1vh;
      .container{
        @include media("<=tab") { padding: 1vh 3vh; }
      }
      .ctn-carousel{
        @include media("<=tab") { height: 300px; }
        .ui-carousel{
          height: 350px;
          left: 10%;
          @include media("<=tab") {
            height: 250px; left: 0;
          }
          .carousel-item .ctn-inner{
            height: 350px;
            @include media("<=tab") { height: 250px; }
          }
        }
      }
      .cost{
        margin: 5px 0 10px;
      }
    }
  }
}
.modal-backdrop {
  opacity: 1;
  background: rgba($pr, .9)
}
