.modal{
  font-family: $ex;
  a{
    color: $pr;
    //text-decoration: underline;
    font-weight: 700;
  }
  button{ height: unset; }
  form{
    font-weight: 700;
    input{ font-weight: 700; }
  }
  .modal-dialog{
    max-width: fit-content;
    .step1{
      margin: -1rem;
      width: 900px;
    }
    .section-carousel{
      padding-top: 1vh;
      .ctn-carousel .ui-carousel{
        height: 350px;
        left: 10%;
        .carousel-item .ctn-inner{
          height: 350px;
        }
      }
      .cost{
        margin: 5px 0 10px;
      }
    }
  }
}
.modal-backdrop {
  opacity: 1;
  background: rgba($pr, .9)
}
