
//.modal-open .dl-modal-2{
//  display: flex !important;
//  justify-content: center;
//  align-items: center;
//  // @include media(">=tablet") {
//  // }
//}
//.dl-modal-2{
//  .modal-dialog{
//    @include media(">=tablet") {
//      margin: 0;
//      max-width: 50vw;
//      width: 50vw;
//    }
//    .modal-content{
//      border: none;
//    }
//    .modal-header{
//      border-bottom: none;
//    }
//    .modal-body{
//      @include media("<=tablet") {
//        padding-top:0;
//      }
//      display: flex;
//      justify-content: center;
//      align-items: center;
//      flex-direction: column;
//      text-align: center;
//      padding-bottom: 50px;
//      h2 {
//        color: $b; font-weight: bold; margin-bottom: 25px;
//        @include media("<=tablet") {
//          font-size: 20px;
//        }
//      }
//      p {
//        font-size: 18px; width: 50%;
//        @include media("<=tablet") {
//          font-size: 16px;
//          width: 100%;
//        }
//      }
//      .copy-box{
//        @include media("<=tablet") {
//          width: 100%;
//          margin-top: 15px;
//          padding: 25px 15px;
//        }
//        position: relative;
//        margin-top: 30px;
//        padding: 25px;
//        width: 400px;
//        border: 1px solid rgba($b, .2);
//        display: flex;
//        justify-content: space-between;
//        align-items: center;
//        .label{
//          font-weight: bold;
//          font-size: 12px;
//          background: $w;
//          color: rgba($b, .2);
//          position: absolute;
//          top: -10px;
//          left: 10px;
//          padding: 0 10px;
//        }
//        input{
//          @include media("<=tablet") {
//            width: 60%;
//          }
//          width: 250px;
//          // text-overflow: ellipsis;
//          border: none;
//          color: rgba($b, .8);
//          &:focus {
//            outline: none;
//            box-shadow: none;
//          }
//        }
//        .copy-btn{
//          color: $sc;
//          font-weight: bold;
//          cursor: pointer;
//        }
//      }
//      .or-box{
//        @include media("<=tablet") {
//          margin-top: 15px;
//          width: 100%;
//        }
//        margin-top: 30px;
//        padding: 25px 0;
//        width: 400px;
//        display: flex;
//        justify-content: space-between;
//        align-items: center;
//        font-weight: bold;
//        color: rgba($b, .2);
//        .dash{
//          height: 1px;
//          width: 120px;
//          background: rgba($b, .2);
//        }
//      }
//      button{
//        @include media("<=tablet") {
//          margin-top: 15px;
//          width: 100%;
//        }
//        background: $sc;
//        border-color: $sc;
//        font-size: 16px;
//        font-weight: bold;
//        width: 400px;
//        padding: 25px;
//        margin-top: 30px;
//      }
//      img{ height: 35px; margin: 10px 0; }
//      span { color: rgba($b, .7); font-size: 14px; }
//    }
//  }
//}
//
//.modal-backdrop {
//  background: rgba($sc, 0.6)
//}
