// Colors
$pr: #1d4455;
$sc: #00b679;
$w: #fff;
$b: #000;
$l: #f6f6f6;
$bg: rgb(36, 41, 46);

// Fonts
$ex: 'Exo 2';
$os: 'Open Sans';

// Others
$headHeight: 53px;
$subHeadHeight: 170px;
$sh: 0 0 10px 2px rgba($b, .1);
$breakpoints: (
  'tablet': 1024px,
  'md': 1280px,
  'lp': 1366px,
  'sld': 1500px,
  'ld': 1600px
) !default;

// Mixins
%no-select{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

// full width
%fw{ width: 100%; }

// full height
%fh{ height: 100%; }

// full height, width
%fhw{
  height: 100%;
  width: 100%;
}

// Justify content: space between
%j-s-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Justify content: space around
%j-s-a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// Justify content: center
%j-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Justify content: flex-start
%j-f-s {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// Justify content: flex-end
%j-f-e {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// Position absolute mixin
@mixin pa($top:"", $left:"", $bottom:"", $right:"", $unit: "px") {
  position: absolute;
  @if $top != ""{
    top: #{$top}#{$unit};
  }
  @if $left != ""{
    left: #{$left}#{$unit};
  }
  @if $bottom != ""{
    bottom: #{$bottom}#{$unit};
  }
  @if $right != ""{
    right: #{$right}#{$unit};
  }
}

// Position fixed mixin
@mixin pf($top:"", $left:"", $bottom:"", $right:"", $unit: "px") {
  position: fixed;
  @if $top != ""{
    top: #{$top}#{$unit};
  }
  @if $left != ""{
    left: #{$left}#{$unit};
  }
  @if $bottom != ""{
    bottom: #{$bottom}#{$unit};
  }
  @if $right != ""{
    right: #{$right}#{$unit};
  }
}
